<header>
  <div>
    <h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
      <a href="/">Brian Nahuel Zalazar Villca</a>
    </h1>
    <h2 class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl">Backend Development</h2>
    <p class="mt-4 max-w-xs leading-normal text-gray-400">
      <!-- I'm a software developer with 1+ years of experience in backend development. -->
      Soy un desarrollador de software con 1+ años de experiencia en desarrollo backend.
    </p>
    <ul class="ml-1 mt-8 flex items-center" aria-label="Social media">
      <li class="mr-5 text-xs">
        <a class="block hover:text-slate-200" href="https://github.com/nahuelXZV" target="_blank" rel="noreferrer"><span
            class="sr-only">GitHub</span>
          <icon-github></icon-github>
        </a>
      </li>
      <li class="mr-5 text-xs"><a class="block hover:text-slate-200" href="https://www.linkedin.com/in/nahuelxzv/"
          target="_blank" rel="noreferrer"><span class="sr-only">LinkedIn</span>
          <icon-linkedin></icon-linkedin>
        </a>
      </li>
    </ul>
    <nav class="nav hidden lg:block" aria-label="In-page jump links">
      <ul class="mt-16 w-max">
        <li><a class="group flex items-center py-3 active" href="#about"><span
              class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"></span><span
              class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Acerca
              de mi</span></a>
        </li>
        <li><a class="group flex items-center py-3 " href="#experience"><span
              class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"></span><span
              class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Experiencia
              Laboral</span></a>
        </li>
        <li><a class="group flex items-center py-3 " href="#projects"><span
              class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"></span><span
              class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Proyectos</span></a>
        </li>
        <li><a class="group flex items-center py-3 " href="#contact"><span
              class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"></span><span
              class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Contacto</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
