<section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="About me">
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
    <p class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Acerca de mi</p>
  </div>
  <div class="text-gray-400">
    <p class="mb-4">
      Hola! Soy <span class="text-letra"> Nahuel Zalazar</span>, un apasionado
      <span class="text-letra">desarrollador backend</span> con una sólida formación en la creación y
      optimización de sistemas y servicios que impulsan aplicaciones web. he estado trabajando en la industria de la
      tecnología durante <span class="text-letra">+1 año</span>, colaborando en proyectos desafiantes y emocionantes.
    </p>
    <p class="mb-4">
      Mi experiencia abarca una amplia gama de tecnologías y lenguajes de programación, incluyendo
      <span class="text-letra">NestJS, TypeScritp, Node, Laravel y Docker</span> . Me enorgullezco de
      ser una persona curiosa y autodidacta, y me encanta aprender nuevas cosas.
      Puedes <a href="#contact" class="text-letra hover:underline">contactarme</a> si quieres saber más sobre mí o
      si tienes alguna pregunta.
    </p>
  </div>
</section>
